:host {
  display: inline-block;
}

::ng-deep {
  .p-tag {
    font-weight: 500;
    
    &.p-tag-success {
      background-color: #10B981;
      color: #ffffff;
    }
    
    &.p-tag-info {
      background-color: #3B82F6;
      color: #ffffff;
    }
    
    &.p-tag-warning {
      background-color: #F59E0B;
      color: #ffffff;
    }
    
    &.p-tag-danger {
      background-color: #EF4444;
      color: #ffffff;
    }
    
    &.p-tag-secondary {
      background-color: #6B7280;
      color: #ffffff;
    }
  }
}
